body {
  font-family: helvetica;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

button {
  background: #b569b5;
  border: none;
  padding: 10px 20px;
  color: white;
}

input {
  padding: 20px;
  border: 1px solid whitesmoke;
}

.home-page {
  background: url("./ezgif.gif");
  font-family: "Fasthand";
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: #f4b1ab;
  background-position: bottom right;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-page .container {
  padding: 20px;
  background: #ffffffe0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #313131;
  margin: 30px;
  border-radius: 14px;
}

.page-container {
  padding: 10px;
}

.round-button {
  background: #176814ab;
  border: none;
  border-radius: 40% 19% 39% 23%;
  font-size: 21px;
  padding: 12px;
  color: white;
  height: 110px;
  width: 120px;
  box-shadow: 0 -3px 43px -13px #494848;
}

.border-box {
  background: rgb(226, 225, 225);
  padding: 10px;
  border-radius: 10px;
}

.checklist-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}
